# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Sql
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|:----------------:|
|Apache Spark|
|Weka|
|Apache Hadoop|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [6]:
hours= 200/60
print (f" Hours in 200 are {hours}") #This will convert 200 minutes to hours by diving by 60

 Hours in 200 are 3.3333333333333335

**Objectives:**

- Python
- Sql  
- R 
- Julia
- Scala

## Author
Rohaan Ali